#!/usr/bin/env bash

# URL of your SAS app (no "/" at the end !)
SAS_ENDPOINT=http://example.org

# "search-api" OR "canvas".
# EXPORT_STRATEGY is used to determine which SAS route to use to export annotations:
# with "search-api", use "/search-api/" (1 query per manifest).
# with "canvas", use "/annotation/search/" (1 query per canvas of the manifest).
# "canvas" takes MUCH longer, but can retrieve more annotations if the root of the
# target URL has changed (which breaks SAS indexing used by the /search-api/).
# see also IIIF_SCHEME_REPL
EXPORT_STRATEGY=search-api

# "old-iiif-host,new-iiif-host" (i.e.: example-old.org,example-new.org).
# to be used in case of URL changes in the IIIF manifest provider that are not
# reflected in SAS, in conjunction with "EXPORT_STRATEGY=canvas": if SAS stores manifests
# whose root URL has changed, replace "old-iiif-host" with "new-iiif-host" before fetching
# manifests so that they can be fetched. otherwise, you will get tons of 500 errors.
IIIF_SCHEME_REPL=

# directory where to save results (absolute path or relative path from the root of the project)
OUT_DIR=out

# directory where to save logs (absolute path or relative path from the root of the project)
LOG_DIR=log

# maximum number of simultaneous async connections.
# see: https://docs.aiohttp.org/en/stable/client_reference.html#aiohttp.TCPConnector
MAX_CONNECTIONS=100
