#!/usr/bin/env bash

# URL of your SAS app (no "/" at the end !)
SAS_ENDPOINT=http://example.org

# directory where to save results (absolute path or relative path from the root of the project)
OUT_DIR=out

# directory where to save logs (absolute path or relative path from the root of the project)
LOG_DIR=log

# maximum number of simultaneous async connections. see: https://docs.aiohttp.org/en/stable/client_reference.html#aiohttp.TCPConnector
MAX_CONNECTIONS=100